$darkblue: #0c0d2a;
$midblue: #00B5FF;
$cloud-lightblue: #d3e9eb;
$cloud-blue: #9fcacf;
$rainbow-blue: #48B5FB;
$rainbow-green: #9DEB0F;
$rainbow-yellow: #FCDA33;
$rainbow-red: #FF694F;
$white: #fff;
$black: #000;
$gray: #366469; // 'ish
$fb-blue: #3CA5FA;
$gp-red: #E44E3C;
$error-red: #cc0100;
$success-green: #00cc22;

$nav-bg: $rainbow-red;
$nav-color: $white;

