@import "settings";


.activity__title {
  text-align: center;
  color: $white;
  font-size: 25px;
  text-transform: uppercase;
}

.activity__background {
  background-color: $darkblue;
}

.activity__item {
  color: $white;
  border-bottom: 1px solid $cloud-lightblue;
  font-size: 20px;
  vertical-align: center;
  padding: 20px;
}


.activity__item span {

  padding: 0px 10px;
  display: inline-block;
}
