@import "settings";
@import "mixins";

.card__front, .card__back, .card__left, .card__right {
  cursor: pointer;
  padding: 20px;
}

.card__front {

}

.card__front__question {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  line-height: 35px;
}

.card__front__question--small {
  text-align: center;
  font-size: 18px;
  padding: 0px 10px;
  line-height: 30px;
  z-index: -10;
  height: 60px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__front__option {
  padding: 0px 20px;
}

.card__front__option .outerContainer {
  display: table;
  overflow: hidden;
}
.card__front__option .outerContainer .innerContainer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.card__front__input {
  margin: 0;
  text-align: center;
}
.card__front__input input {
  background: transparent;
  border: 1px solid $darkblue;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  margin: 14px;
}

.card__front__option:hover {
  background-color: $rainbow-red;
  opacity: .5;
}

.card__front p {

}

.card__front {
  background-color: $cloud-blue;
}

.card__backing {
  background-color: $white;
}

.card__back {
  text-align: center;
  background-color: $rainbow-yellow;
}

.card__back__image {
  font-size: 23px;
}

.card__back__text {

}

.card__shim {
  @extend .backface-visible;
  background-color: $black;
}

.card__front_newOption {
  margin: 0;
  width: 80% !important;
}
