@import "settings";
@import "mixins";

.card__front, .card__back, .card__left, .card__right {
  cursor: pointer;
  padding: 20px;
}

.card__front {

}

.card__front__question {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  line-height: 35px;
}

.card__front__question--small {
  font-size: 20px;
}

.card__front__option {
  padding: 20px;
}

.card__front__input {
  padding: 4px;
  margin: 0px 20px;
}

.card__front__option:hover {
  background-color: $white;
}

.card__front p {

}

.card__front {
  background-color: $cloud-blue;
}

.card__backing {
  background-color: $white;
}

.card__back {
  text-align: center;
  background-color: $rainbow-yellow;
}

.card__back__image {

}

.card__shim {
  @extend .backface-visible;
  background-color: $black;
}
