@import "settings";
@import "mixins";

.card__front, .card__back, .card__left, .card__right {
  cursor: pointer;
  padding: 20px;
}

.card__front__pic--big {

}

.card__front__pic--small {

}

.card__front {

}

.card__front__question {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
}

.card__front__question--medium {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
}


.card__front__question--small {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
}

.card__front__option {
  margin: 0 auto;
  text-align: center;
}

.card__front__option .outerContainer {
  display: table;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
.card__front__option .outerContainer .innerContainer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.card__front__input {
  margin: 0;
  text-align: center;
}
.card__front__input input {
  background: transparent;
  border: 1px solid $darkblue;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  margin: 14px;
}

.card__front__option {
  margin: 0px 3px;
}

.card__front__option.light:hover {
  background-color:rgba(255,100,100,0.5);
}

.card__front__option.dark:hover {
  background-color:rgba(255,100,100,0.5);
}

.card__front__option.light {
  background-color:rgba(200,200,200,0.5);
}

.card__front__option.dark {
  background-color:rgba(240,240,240,0.5);
}

.card__front__option.option__back.win {
  background-color: $win-green;
}

.card__front__option.option__back.fail {
  background-color: $fail-red;
}

.card__front p {

}

.card__front {
  background-color: $cloud-blue;
}

.card__backing {
  background-color: $white;
}

.card__back {
  text-align: center;
  background-color: $rainbow-yellow;
}

.card__back__image {
  font-size: 23px;
}

.card__back__text {

}

.card__shim {
  @extend .backface-visible;
  background-color: $black;
}

.card__front_newOption {
  margin: 0;
  width: 80% !important;
}

.card__options__box {

}
