@import "settings";
@import "mixins";

.comments__item {
  /* z-index: -10; */
}

.comments__text {
  color: $white;
  font-size: 14px;
}

.comments__pic {
  border-radius: 20px;
}

.comments__num {
  text-align: center;
}