@import "settings";

.footer {
  background-color: $nav-bg;
  color: $nav-color;
  line-height: 100px;
  text-align: center;
}

.header__background {
  z-index: 100;
  background-color: $rainbow-red;
}

.header__background--play {
  background-color: $rainbow-red;
}

.header__background--profile {
  background-color: $rainbow-red;
}

.header__background--peggbox {
  background-color: $rainbow-green;
}

.header__background--decks {
  background-color: $rainbow-green;
}

.header__background--create {
  background-color: $rainbow-yellow;
}

.header__background--activity {
  background-color: $rainbow-blue;
}

.header__title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: $nav-color;
}

.header__logout {
  font-weight: bold;
  font-size: 18px;
  color: $nav-color;
}

.header__logo {
  cursor: pointer;
  z-index: 101
}

.header__profilePic {
  z-index: 101
}
