@import "settings";


.login__background {
  background-color: $darkblue;
}


.login__text--header {
  text-transform: uppercase;
  color: $white;
  font-size: 20px;
  font-weight: bold;
}

.login__text--message {
  color: $cloud-blue;
  font-size: 12px;
}

.login__button--facebook {
  background-color: $fb-blue;
  text-align: center;
  color: white;
  font-weight: bold;
}

.login__button--google {
  background-color: $gp-red;
  text-align: center;
  color: white;
  font-weight: bold;
}

.login__logo {
  z-index: 10;
}

.login__mark{
  z-index: -10;
}
