@import "settings";


.login__background {
  background-color: $darkblue;
}


.login__text--header {
  text-transform: uppercase;
  color: $white;
  font-size: 24px;
  text-align: center;
}

.login__text--message {
  color: $cloud-blue;
  font-size: 12px;
  text-align: center;
}

.login__button--facebook {
  background-color: $fb-blue;
  text-align: center;
  color: white;
  cursor: pointer;
}

.login__button--google {
  background-color: $gp-red;
  text-align: center;
  color: white;
  cursor: pointer;
}

.login__logo {
  z-index: 10;
}

.login__mark .path{
  animation: dash 4s linear 1;
  animation-fill-mode: forwards;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 4s linear 1;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.signup__text--header {
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-size: 30px;
  font-weight: bold;
}

.signup__submit {
  background-color: $white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.signup__email__input{
  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 10px;
  color: $white;
  font-size: 15px;
}


.signup__email__box {
  background-color: #fff;
}

.signup__email__input--big input{
  border: none;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  width: 100%;
}

.signup__response--success {
  text-align: center;
  color: $white;
  font-size: 25px;
  font-weight: bold;
}

.signup__response--fail {
  text-align: center;
  color: $rainbow-red;
  font-size: 25px;
  font-weight: bold;
}
