@import "settings";
@import "mixins";

.newcard__question__input {

}

input[type="text"] {
  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 10px;
  width: 92%;
  color: $white;
  font-size: 15px;
}


.newcard__question_submit {
  background-color: $white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.newcard__header {
  color: $white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.newcard__number {
  border-radius: 30px;
  background-color: $white;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
}
