@import "settings";
@import "mixins";

.newcard__input {
  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 10px;
  width: 92%;
  color: $white;
  font-size: 15px;
}

.newcard__button--blue {
  background-color: $midblue !important;
}
.newcard__button {
  background-color: $white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.newcard__header {
  color: $white;
  font-size: 23px;
  text-align: center;
}

.newcard__number {
  border-radius: 30px;
  background-color: $white;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
}

.newcard__center {
  text-align: center;
}

.newcard__step3__deckText {
  color: $white;
  font-size: 15px;
}

.newcard__header--big {
  color: $midblue;
  font-size: 36px;
  text-align: center;
}

.newcard__category {
  color: $black;
  border-bottom: 2px solid #ccc;
  font-size: 26px;
  background-color: $white;
  z-index: 10;
}

.newcard__categories {
  background-color: $white;
}

.newcard__category {
  &.selected {
    background-color: $cloud-lightblue;
  }

  .category-name {
    $h: 32px; // height of the text box
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -$h / 2;
    height: $h;
    line-height: $h;
    width: 100%;
    text-align: center;
  }
}

.newcard.confirmOrCancel {
  background: $gray;
  border-top: 1px solid darken($gray, 10%);
  z-index: 10;
}

.newcard.confirmOrCancel__btn {
  text-align: center;
  color: $white;
  z-index: 11;
}
