@import "settings";


.peggbox__background {
  background-color: $darkblue;
}

.peggbox__item {
  color: $white;
  border-bottom: 1px solid $cloud-lightblue;
  font-size: 20px;
  vertical-align: center;
  padding: 20px;
}


.peggbox__item span {

  padding: 0px 10px;
  display: inline-block;
}
