@import "settings";



.peggbox__item {
  border-bottom: 1px solid $cloud-lightblue;

}

.peggbox__item__text {
  color: $white;
  font-size: 18px;
  display: ​table;
  margin-bottom: 20px;
}

.peggbox__item__text__child {
  display: table-cell;
  vertical-align: middle;
}

.peggbox__item__text.pegger {
  color: $cloud-lightblue
}

.peggbox__item__pic {
  border-radius: 25px;
}
