@import "settings";


.play__background {
  background-color: $darkblue;
}


.progressBar__title {
  color: $rainbow-yellow;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}


.card__message {
  text-align: center;
  color: $white;
}

.card__message__fail {
  text-align: center;
}

.card__message__win {
  text-align: center;
}

.play__unicorn {

}
