@import "settings";


.play__background {
  background-color: $darkblue;
}


.progressBar__title {
  color: $rainbow-yellow;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}


.card__message {
  text-align: left;
  color: $white;
  text-transform: uppercase;
}

.card__message__fail {
  text-align: center;
}

.card__message__win {
  text-align: center;
}

.play__unicorn {

}

.play__points {
  border-radius: 40px;
  background-color: $rainbow-green;
  font-size: 45px;
  padding-top: 10px;
  text-align: center;
}