@import "settings";


.play__background {
  background-color: $darkblue;
}


.progressBar__title {
  color: $rainbow-yellow;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  z-index: 0;
}

.progressBar__active{
  font-size: 14px;
  z-index: 1;
}

.play__newCard {
  z-index: -10;
}

.card__title {
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

.play__unicorn {

}

.play__points {
  border-radius: 40px;
  background-color: $rainbow-green;
  font-size: 45px;
  padding-top: 10px;
  text-align: center;
  z-index: 10;
}
