@import "settings";


.profile__pic {

}

.profile__name__box {
  border-radius: 20px;
  background-color: $rainbow-red;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 19px;
  color: $white;
  z-index: 100;
}

.profile__logout {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: $white;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
}

.peggBoardHeader__bg {
  background-color: white;
}

.peggBoardHeader__button {
  z-index: 1;
}

.profile__activity__item {
  color: $white;
  border-bottom: 1px solid $cloud-lightblue;
  font-size: 16px;
  vertical-align: center;
  padding: 20px;
}

.profile__activity__item .numPeggers {
  color: $rainbow-green;

}

.profile__activity__item .outerContainer {
  display: table;
  overflow: hidden;
}
.profile__activity__item .outerContainer .innerContainer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.profile__activity__item__pic {
  border-radius: 25px;
}
