@import "settings";

.status__pref__card {
  z-index: -10;
}
.status__peggee__name, .status__preffer__name {
  color: $white;
  text-align: center;
  font-size: 40px;
}

.status__pegg__title {
  color: $white;
  text-align: center;
  font-size: 25px;
}

.status__pref__title {
  color: $white;
  text-align: center;
  font-size: 28px;
}

.status__pegg__pic {

}

.status__pegger__pic {

}

.status__pegger__name {
  text-align: left;
  color: $white;
}

.status__pegger__points {
  text-align: left;
  color: $white;
}

.status__pref__choice {
  color: $white;
  padding-bottom: 16px;
}

.status__pref__bg {
  z-index: -10;
}

.status__pref__question {
  font-size: 22px;
  color: $white;
  padding-bottom: 16px;
}

.status__pref__percentage--red {
  background-color: $rainbow-red;
  z-index: -10;
}

.status__pref__percentage--yellow {
  background-color: $rainbow-yellow;
  z-index: -10;
}

.status__pref__percentage--green {
  background-color: $rainbow-green;
  z-index: -10;
}

.status__pref__percentage--blue {
  background-color: $rainbow-blue;
  z-index: -10;
}

.status__pref__percentage {
  color: white;
  line-height: 40px;
  padding-left: 10px;
}

.status__done__title {
  color: $white;
  text-align: center;
  font-size: 25px;
}
