@import "settings";


.status__peggee__name, .status__preffer__name {
  text-align: center;
  color: $white;
  font-size: 25px;
}

.status__peggee__pic {

}

.status__pegger__pic {

}

.status__pegger__name {
  text-align: left;
  color: $white;
}

.status__pegger__points {
  color: $white;
  text-align: left;
}

.status__pref__choice {
  color: $white;
}

.status__pref__question {
  color: $white;
  font-size: 20px;
}

.status__pref__percentage--red {
  background-color: $rainbow-red;
  z-index: -10;
}

.status__pref__percentage--yellow {
  background-color: $rainbow-yellow;
  z-index: -10;
}

.status__pref__percentage--green {
  background-color: $rainbow-green;
  z-index: -10;
}

.status__pref__percentage--blue {
  background-color: $rainbow-blue;
  z-index: -10;
}

.status__done__title {
  text-align: center;
  color: $white;
  font-size: 25px;
}


​.status__pref__question__parent {
   display: ​table;
   margin-bottom: 20px;
 }

 .status__pref__question__child {
   display: table-cell;
   vertical-align: bottom;
 }​