@import "settings";


.status__peggee__name {
  text-align: center;
  color: $white;
  font-size: 25px;
}

.status__peggee__pic {

}

.status__pegger__pic {

}

.status__pegger__name {
  text-align: left;
  color: $white;
}
