@import "settings";
@import "header";
@import "footer";

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

button {
  width: 100%;
  height: 100%;
}

.answer {
  background-color: #00a5ff;
  padding: 10px;
  border: 10px solid white;
  text-align: center;
}
