$darkblue: #0c0d2a;
$cloud-lightblue: #d3e9eb;
$cloud-blue: #9fcacf;
$rainbow-blue: #00B5FF;
$rainbow-green: #9DEB00;
$rainbow-yellow: #FFDA00;
$rainbow-red: #FF694F;
$white: #fff;
$black: #000;
$gray: #366469; // 'ish

$nav-bg: $rainbow-red;
$nav-color: $white;

