$darkblue: #0c0d2a;
$cloud-lightblue: #d3e9eb;
$cloud-blue: #9fcacf;
$rainbow-blue: #00a5ff;
$rainbow-green: #9deb0f;
$rainbow-yellow: #f9d648;
$rainbow-red: #db7058;
$white: #fff;
$black: #000;
$gray: #366469; // 'ish

$nav-bg: $darkblue;
$nav-color: $white;

