@import "settings";
@import "mixins";

.card__front, .card__middle, .card__back {
  text-align: center;
  cursor: pointer;
}

.card__front {
  background-color: $cloud-blue;
}

.card__backing {
  background-color: $black;
}

.card__shim {
  @extend .backface-visible;
  background-color: $black;
}

.card__back {
  background-color: $rainbow-yellow;
}
