@import "settings";


.menu__background {
  background-color: $darkblue;
}

.menu__item {
  cursor: pointer;
  text-align: left;
}
.menu__item--friends {
  background-color: $rainbow-red;
}
.menu__item--decks {
  background-color: $rainbow-yellow;
}
.menu__item--peggbox {
  background-color: $rainbow-green;
}
.menu__item--activity {
  background-color: $rainbow-blue;
}

.menu__item__title {
  color: $white;
  text-transform: uppercase;
  position: relative;
  top: 42%;
  width: 70%;
  float: right;
  font-weight: bold;
  font-size: 20px;
}

