@import "settings";

.bandmenu__background {
  background-color: $darkblue;
  z-index: 100;
}
.bandmenu__item--play {
  background-color: $rainbow-red;
  z-index: 101;
}
.bandmenu__item {
  cursor: pointer;
  text-align: left;
  z-index: 101;
}
.bandmenu__item--friends {
  background-color: $rainbow-red;
}
.bandmenu__item--decks {
  background-color: $rainbow-yellow;
}
.bandmenu__item--peggbox {
  background-color: $rainbow-green;
}
.bandmenu__item--activity {
  background-color: $rainbow-blue;
}

.bandmenu__item__title {
  color: $white;
  text-transform: uppercase;
  position: relative;
  top: 42%;
  width: 70%;
  float: right;
  font-weight: bold;
  font-size: 20px;
}

.bandmenu__item__logo {
  z-index: 101;
}
