@import "settings";
@import "mixins";

.card__front, .card__back, .card__left, .card__right {
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}

.card__front {
  background-color: $cloud-blue;
}

.card__backing {
  background-color: $white;
}

.card__left {
  background-color: $rainbow-red;
}

.card__right {
  background-color: $rainbow-green;
}

.card__back {
  background-color: $rainbow-yellow;
}

.card__shim {
  @extend .backface-visible;
  background-color: $black;
}
