@import "settings";
@import "mixins";

.card__front, .card__back, .card__left, .card__right {
  cursor: pointer;
  padding: 20px;
}

.card__front h2 {
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}

.card__front p {

}

.card__front {
  background-color: $cloud-blue;
}

.card__backing {
  background-color: $white;
}

.card__back {
  text-align: center;
  background-color: $rainbow-yellow;
}

.card__shim {
  @extend .backface-visible;
  background-color: $black;
}
