@import "settings";

.header__background, .footer {
  background-color: $nav-bg;
  color: $nav-color;
  line-height: 100px;
  text-align: center;
}

.header__background--play {
  background-color: $rainbow-red;
}

.header__background--peggbox {
  background-color: $rainbow-green;
}

.header__background--decks {
  background-color: $rainbow-yellow;
}

.header__background--friends {
  background-color: $rainbow-red;
}
.header__background--activity {
  background-color: $rainbow-blue;
}

.header__title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: $nav-color;
}

.header__logo {
  cursor: pointer;
}
