@import "settings";


.peggbox__background {
  background-color: $darkblue;
}

.peggbox__item {
  color: $white;
  border-bottom: 1px solid $cloud-lightblue;

}


.peggbox__item span {
  font-size: 16px;
  padding: 0px 10px;
  display: inline-block;
  vertical-align: center;
  line-height: 20px;
}
